{# tutorial/templates/tutorial/people.html #}
{% extends 'base.html' %}
{% block content %}
{% load render_table from django_tables2 %}
<!doctype html>
<html>
<head>
<style>
  table {
      border-collapse: collapse;
      width: 90%;
      margin: auto;
  }

  td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
  }

  tr:nth-child() {
      background-color: #dddddd;
  }
</style>
</head>
    <body>
        <h2 class="text-primary" style="text-align: center; padding: 1em">Ver Contratos</h2>

        <div>
            {% render_table table%}
        </div>
        <a class="btn btn-sm btn-primary" style="margin-left: 5%" href="{% url 'homepage' %}">Voltar à página principal</a>
    </body>
</html>
{% endblock %}